@model ARPA20250324.AppWebMVC.Models.Warehouse

@{
    ViewData["Title"] = "Details";
}

<h1 class="display-4 text-center" style="font-family:'Cambria Math'">Detalle Bodega</h1>

<h4 style="font-family:'Cambria Math'" class="text-secondary text-center">Bodegas</h4>
<hr />
    <dl class="row">
        <dt class = "col-sm-2 fw-bold">
            @Html.DisplayNameFor(model => model.WarehouseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarehouseName)
        </dd>
    <dt class="col-sm-2 fw-bold">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning btn-sm">Editar</a>
    <a asp-action="Index" class="btn btn-dark">Volver</a>
</div>
