@model ARPA20250324.AppWebMVC.Models.Warehouse

@{
    ViewData["Title"] = "Edit";
}

<h1 class="display-4 text-center" style="font-family:'Cambria Math'">Editar Bodega</h1>

<h4 style="font-family:'Cambria Math'" class="text-secondary text-center">Bodegas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="WarehouseName" class="form-label fw-bold shadow-sm"></label>
                <input asp-for="WarehouseName" class="form-control shadow-sm" placeholder="Ingrese el nombre de la bodega" />
                <span asp-validation-for="WarehouseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="form-label fw-bold shadow-sm"></label>
                <input asp-for="Notes" class="form-control shadow-sm" placeholder="Ingrese una nota" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guradar" class="btn btn-warning btn-sm" />
                <a asp-action="Index" class="btn btn-dark">Volver</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
