@model ARPA20250324.AppWebMVC.Models.User

@{
    ViewData["Title"] = "Create";
}

<h1 class="display-4 text-center" style="font-family:'Cambria Math'">Editar Usuario</h1>

<h4 style="font-family:'Cambria Math'" class="text-secondary text-center">Usuarios</h4>
<hr />
<div class=" justify-content-center align-items-center vh-100">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-4 shadow-lg rounded-3 p-4 bg-light justify-content-center align-items-center">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                    <label asp-for="Username" class="form-label fw-bold shadow-sm"></label>
                    <input asp-for="Username" class="form-control shadow-sm" placeholder="Ingrese su nombre"  />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="Email" class="form-label fw-bold shadow-sml"></label>
                    <input asp-for="Email" class="form-control shadow-sm" placeholder="Ingrese su email"  />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="Password" class="form-label fw-bold shadow-sm"></label>
                    <input asp-for="Password" class="form-control shadow-sm" placeholder="Ingrese su contraseña"  />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="ConfirmarPassword" class="form-label fw-bold shadow-sm"></label>
                    <input asp-for="ConfirmarPassword" class="form-control shadow-sm" placeholder="Confirme la contraseña" />
                <span asp-validation-for="ConfirmarPassword" class="text-danger"></span>
            </div>
          @*   <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <input asp-for="Role" class="form-control" />
                <span asp-validation-for="Role" class="text-danger"></span>
            </div> *@
                <div class="form-group mb-3">
                    <label asp-for="Role" class="form-label fw-bold shadow-sm">Rol</label>
                    @Html.DropDownListFor(model => model.Role, ViewData["Roles"] as SelectList, "Seleccione un Rol", new { @class = "form-control shadow-sm" })
                    <span asp-validation-for="Role" class="text-danger"></span>
                </div>
            <div class="form-group">
                    <label asp-for="Notes" class="form-label fw-bold shadow-sm"></label>
                    <input asp-for="Notes" class="form-control shadow-sm" placeholder="Agregue una nota" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-secondary btn-sm" />
                    <a asp-action="Index" class="btn btn-dark btn-sm">Volver</a>

            </div>
        </form>
    </div>
</div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
